@import "../../vars.css";

.Container{
    color: var(--color-text);
    margin-top:50px;
   background: linear-gradient(180deg, #04152D, #0a4487);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 58px 10%;
    gap: 10px;
}
.text{
  margin-right: 4%;
}

.text h2{
  font-family: var(--font-btn);
 font-size:80px;
 font-weight: 700;
 letter-spacing: 4px;
 

}
.text p{
  font-family: var(--font-btn);
    font-size:40px;
    font-weight: 400;
    letter-spacing: 2px;
 
   }
  

  
@media screen and (max-width: 830px) {
    .Container {
      flex-direction: column;
      gap: 20px;
      margin-top: 0%;
    }
  
    .text h2{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 49px;
    }
    .text p{
      font-size: 30px;
      font-size: 18px;
      text-align: center;
    
    }

  }